$height = 1.2rem
$color = #00bcd4
$bor-color = #ddd
$ellipsis(){
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
}
$city-hotW = 33.33%
$city-lettersW = 16.66%
$city-all = 25%
$city-styl()
	.box 
		font-size .4rem
		.title 
			height 1rem
			line-height 1rem
			text-align left
			padding-left .5rem
			a
				display block
		.list 
			position relative
			display flex
			flex-wrap wrap
			background #fff
			
